@use "sass:color";
@use '../../../../colores.scss' as *;

:host {
    display: block;
    z-index: 9;
}

.container-fluid {
    padding: 0;
}

.card {
    display: flex;
    flex-direction: column;
    background-color: transparent;
    box-shadow: none;
}

.card-header {
    margin-bottom: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 24px;
    background-color: white;
    border-radius: 10px;

    .card-title {
        font-size: 2rem;
        font-weight: 700;
        margin: 0;
    }

    .id-badge {
        border: 1px solid $boton;
        color: $boton;
        background-color: white;
        padding: 8px 16px;
        border-radius: 12px;
        font-weight: 500;
    }
}

.card-body {
    padding-top: 24px;
    background-color: white;
    border-radius: 10px 10px 0 0 ;
}

.form-container {
    padding: 0 24px;
}

.form-field {
    display: flex;
    flex-direction: column;

    label {
        margin-bottom: 8px;
        font-weight: 500;
        color: #374151;
    }

    input {
        padding: 10px;
        border: 1px solid #a1a1a1;
        border-radius: 10px;
        font-size: 1rem;
        background-color: white;

        &:focus {
            border: 1px solid $boton;
            outline: none;
        }
    }
}

.table-container {
    padding: 24px;
}

.table {
    width: 100%;
    border-collapse: collapse;

    th,
    td {
        padding: 16px;
        text-align: center;
        vertical-align: middle;
        border-bottom: 1px solid #e5e7eb;
    }

    thead {
        background-color: #F3F4F6;

        th {
            font-weight: 600;
            color: #4B5563;
        }
    }

    tbody {
        td {
          text-align: center;
        }
        td:first-child {
          text-align: center;
        }

        input[type="checkbox"] {
            width: 20px;
            height: 20px;
            accent-color: $aprobar;
        }
    }
}

.card-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 24px;
    background-color: white;
    border-top: 1px solid #e5e7eb;
    border-radius: 0 0 10px 10px;

    .status-toggle {
        display: flex;
        align-items: center;
        gap: 10px;
    }

    .footer-actions {
        display: flex;
        gap: 16px;
    }

    .btn-cancel,
    .btn-save {
        display: flex;
        align-items: center;
        gap: 8px;
        padding: 10px 20px;
        border-radius: 8px;
        font-weight: 600;
        cursor: pointer;
    }

    .btn-cancel {
        background-color: $color-secundario;
        border: none;
        color: white;

        &:hover {
            background-color: color.adjust($color-secundario, $lightness: -15%);
        }
    }

    .btn-save {
        background-color: $color-terciario;
        border: none;
        color: white;

        &:hover {
            background-color: color.adjust($color-terciario, $lightness: -15%);
        }
    }
}

.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: $aprobar;
}

input:focus + .slider {
  box-shadow: 0 0 1px $aprobar;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
} 