@use '../../../colores.scss' as *;

.disabled {
    pointer-events: none;
}

.contenido {
    user-select: none;
    height: 100vh;
    max-height: 100vh;
    display: flex;
    flex-direction: column;
    overflow: hidden;

    nav {
        background-color: $color-principal;
        display: flex;
        flex-direction: column;
        transition: all 0.2s ease;
        min-width: 250px;
        max-width: 500px;
        gap: 1rem;
        
        img {
            width: 40px;
            opacity: .5;
            transition: all 0.2s ease;
            margin: 20px;
            cursor: pointer;

            &:hover {
                opacity: 1;
            }
        }


        .salir {
            background-color: transparent;
            position: relative;
            bottom: 0rem;
            border: .5px solid white;
            align-items: center;
            justify-content: center;
            list-style: none;
            display: flex;
            gap: 0.5rem;
            cursor: pointer;
            transition: all 0.2s ease;
            padding: .7rem;
            border-radius: 9999px;
            opacity: 0.5;
            margin: 3rem;

            &:hover {
                opacity: 1;
            }

            span {
                font-weight: 100 !important;
            }

            h3 {
                font-weight: 200;
                transition: all 0.2s ease, opacity 0.2s ease, transform 0.2s ease;
            }
        }
        
        ul {


            align-self: center;
            overflow-y: auto;
            overflow-x: hidden;
            width: auto;
            flex: 1;
            display: flex;
            flex-direction: column;
            gap: 5px;
            padding: 5rem 3rem 3rem 3rem;

            &::-webkit-scrollbar {
                display: none;
            }

      

            .info {
                padding: 2rem 2rem 2rem 1rem;
                display: flex;
                flex-direction: column;
                gap: 0.5rem;
                transition: all 0.2s ease, opacity 0.2s ease, transform 0.2s ease;

                .nombre {
                    color: white;
                    display: flex;
                    gap: .5rem;
                    align-items: center;

                    span {
                        font-size: 1rem;
                        margin-top: 3px;
                        cursor: pointer;

                        &:hover {
                            font-weight: 900;
                        }
                    }
                }

                .rol {
                    opacity: 0.5;
                    font-weight: 200;
                    color: white;
                    white-space: nowrap;
                }
            }

            li {
                align-items: center;
                list-style: none;
                display: flex;
                gap: 0.5rem;
                cursor: pointer;
                transition: all 0.2s ease;
                padding: .7rem;
                border-radius: 9999px;
                opacity: 0.5;

                &:hover {
                    background-color: $color-overlay;
                    opacity: 1;
                }

                span {
                    color: white;
                    font-weight: 100 !important;
                }

                h3 {
                    font-weight: 200;
                    color: white;
                    transition: all 0.2s ease, opacity 0.2s ease, transform 0.2s ease;
                }
            }

            .activo {
                background-color: $color-overlay;
                opacity: 1;
            }
        }    }

    nav.collapsed {
        max-width: 85px;
        min-width: 85px;
        ul {
            .info {
                opacity: 0 !important;
            }
            flex: 1;
            align-items: center;
            margin: 0;
        }
        ul li h3 {
          display: none;
        }
        ul li {
          border-radius: 50%;
          padding: 1rem ;
          width: 50px;
          height: 50px;
          justify-content: center;
        }
      }

    .cuerpo {
        flex: 1;
        display: flex;
        flex-direction: row;
        position: relative;
        overflow-y: auto;
    }
        
    header {
        background-color: $color-principal;
        padding: 3rem;
        display: flex;
        align-items: center;
        justify-content: space-between;
        position: sticky;
        top: 0;

        &.user-menu-active {
            z-index: 1000;
        }
        h1 {
            font-weight: 300;
        }
        
        span {
            color: white;
            background-color: transparent;
            padding: 0.5rem;
            border-radius: 50%;
            cursor: pointer;
            transition: all 0.2s ease;

            &:hover {
                background-color: rgba(128, 128, 128, 0.194);
            }
        }

        .headerRight {
            display: flex;
            align-items: center;
            gap: 0.5rem;

            .letras {
                background-color: $color-overlay;
                width: 45px;
                height: 45px;
                display: flex;
                align-items: center;
                justify-content: center;
                cursor: pointer;
                display: flex;
                align-items: center;
                padding: 0.5rem;
                border-radius: 50%;
                transition: background-color 0.2s ease;

                h3 {
                    color: white;
                    margin: 0;
                }

                &:hover {
                    background-color: rgba(128, 128, 128, 0.194);
                }
            }
        }
    }

    .pagina {
        background-color: $color-principal;
        user-select: auto;
        flex: 1;
        display: flex;
        flex-direction: column;
        padding: 1rem;
        position: relative;
        overflow-y: auto;

        h1 {
            position: absolute;
            z-index: 1;
            top: 45%;
            left: 50%;
            transform: translate(-50%, -50%);
            font-size: 2.5rem;
            color: $color-principal;
        }

    &::-webkit-scrollbar {
        width: 6px;
    }

    &::-webkit-scrollbar-track {
        background: #2a2a2a;
        border-radius: 3px;
    }

    &::-webkit-scrollbar-thumb {
        background: #555;
        border-radius: 3px;
        transition: background 0.2s ease;

        &:hover {
            background: #777;
        }
    }

    &::-webkit-scrollbar-thumb:hover {
        background: #777;
    }
    }
}

.user-menu {
    position: absolute;
    top: 105px;
    right: 50px;
    width: 270px;
    background-color: rgb(54, 54, 54);
    border-radius: 20px;
    backdrop-filter: blur(10px);
    box-shadow: 0 4px 24px 0 rgba(0,0,0,0.10);
    padding: 1.2rem 1.2rem 0.5rem 1.2rem;
    z-index: 999;
    display: flex;
    flex-direction: column;
    align-items: stretch;

    .user-menu-header {
        display: flex;
        align-items: center;
        gap: 1rem;
        margin-bottom: 0.5rem;

        .nombre-usuario {
            display: flex;
            flex-direction: column;
            gap: 0.2rem;
        }

        img {
            width: 56px;
            height: 56px;
            border-radius: 50%;
        }
        .user-name {
            font-weight: 700;
            font-size: 1.2rem;
            color: white;
        }
        .user-role {
            color: #bdbdbd;
            font-size: 1rem;
        }
    }
    hr {
        border: none;
        border-top: 1px solid #eeeeee37;
        margin: 0.5rem 0 0.5rem 0;
    }
    ul {
        list-style: none;
        padding: .5rem 0 .5rem 0;
        margin: 0;
        display: flex;
        flex-direction: column;
        gap: 0.3rem;
        li {
            display: flex;
            align-items: center;
            gap: 1rem;
            padding: 0.7rem 0;
            font-size: 1.1rem;
            color: white;
            cursor: pointer;
            border-radius: 10px;
            transition: background 0.2s;
            opacity: 0.5;
            &:hover {
                background: $color-overlay;
                color: white;
                opacity: 1;
            }
            span {
                color: white;
                font-size: 1.5rem;
                pointer-events: none;
            }
        }
    }
}

.notification-icon {
  position: relative;
  display: inline-block;

  .notification-badge {
    position: absolute;
    top: 0px;
    right: 0px;
    background: #b6251b !important;
    color: #fff !important;
    border-radius: 50%;
    font-size: 10px;
    font-weight: bold;
    width: 6px;
    height: 6px;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 2px 6px rgba(0,0,0,0.08);
    pointer-events: none;
    z-index: 1;
    padding: 0;
    min-width: unset;
  }
}