<div class="container-fluid">
    <div class="tabs-container">
      <button routerLink="cotizacion" routerLinkActive="active" class="tab-button">
        <span class="material-symbols-outlined">analytics</span> Cotización
      </button>
      <button class="tab-button">
        <span class="material-symbols-outlined">box_add</span> Pedido especial
      </button>
      <button  class="tab-button">
        <span class="material-symbols-outlined">compare_arrows</span> Remisión
      </button>
      <button  class="tab-button">
        <span class="material-symbols-outlined">assignment_return</span> Historial de ventas
      </button>
    </div>
    <router-outlet></router-outlet>
  </div>
  