<div class="cuerpo">
    <!-- <div class="header"><h1>Ventas</h1></div> -->
    <div class="contenedor">
        <div class="opcion" routerLink="/app/ventas/menudeo">
            <span class="material-symbols-outlined">hand_package</span>
            <h3>Menudeo</h3>
        </div>
        <div class="opcion">
            <span class="material-symbols-outlined">group</span>
            <h3>Ventanilla de servicio</h3>
        </div>
        <div class="opcion">
            <span class="material-symbols-outlined">store</span>
            <h3>Mayoreo</h3>
        </div>
        <div class="opcion">
            <span class="material-symbols-outlined">add_shopping_cart</span>
            <h3>E-commerce</h3>
        </div>
    </div>
</div>