$color-principal: rgb(20, 21, 24);
$color-overlay: rgba(255, 255, 255, 0.065);
$color-contenedor: rgba(255, 255, 255, 0.025);
$color-contenedor-hover: rgba(255, 255, 255, 0.05);
$color-overlay-hover: rgba(255, 255, 255, 0.12);
$color-secundario: #87A9BE;

$color-principal-hover: #536f95;
$color-terciario: #365279;
$aprobar: #0F79F3;
$aprobar-fondo: #0F79F320;
$aprobar-fondo-hover: #0F79F350;

$link: #2c98ca;
$icono: #1c1b1f;
$color-edit: #9ca3af;
$color-delete: #ff4d4d;
$boton: #8b5cf6;
$texto-secundario: #5925d1;
$boton-fondo: #856cff29;
$boton-fondo-hover: #856cff5d;
$boton-secundario: #2ab9af20;
$boton-secundario-hover: #2ab9af50;

$stock-disponible-bg: #dcfce7;
$stock-disponible-text: #16a34a;
$stock-bajo-bg: #ffedd5;
$stock-bajo-text: #f97316;
$stock-agotado-bg: #fee2e2;
$stock-agotado-text: #ef4444;
$stock-sobrestock-bg: #e9d5ff;
$stock-sobrestock-text: #9333ea;