/* You can add global styles to this file, and also import other style files */

* {
    box-sizing: border-box;
    font-family: "Inter var", ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    margin: 0;
}

html, body {
    height: 100vh;
    width: 100vw;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.btn-icon {
    background: none;
    border-radius: 50%;
    border: none;
    padding: 4px;
    margin-right: 8px;
    cursor: pointer;
    transition: all 0.2s ease;

    &:hover {
      background-color: rgba(128, 128, 128, 0.194);
    }
}